In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/hjort/populacao-municipal/main/"

dados = pd.DataFrame()

for arq in ['estimativa_dou_2014-2021.csv', 'estimativa_dou_2022.csv',
            'estimativa_dou_2023.csv', 'estimativa_dou_2024.csv']:
    
    if dados.empty:
        dados = pd.read_csv(url + arq, sep=';', 
                            dtype={'cod1': 'object', 'cod2': 'object', 'habitantes': 'int'})
    else:
        dados2 = pd.read_csv(url + arq, sep=';',
                             dtype={'cod1': 'object', 'cod2': 'object', 'habitantes': 'int'},
                             names=list(dados.columns.values))
        #dados = dados.append(dados2)
        dados = pd.concat([dados, dados2])

dados['codigo'] = dados[['cod1', 'cod2']].apply(lambda x: int(x[0] + x[1]), axis=1)
dados.drop(['cod1', 'cod2'], axis=1, inplace=True)
dados = dados[['ano', 'codigo', 'habitantes']]
dados

       ano   codigo  habitantes
0     2014  1100015       25652
1     2014  1100379       13884
2     2014  1100403       19841
3     2014  1100346       17228
4     2014  1100023      102860
...    ...      ...         ...
5565  2024  5222302        6122
5566  2024  5200175        6015
5567  2024  5200209        1705
5568  2024  5200258      241544
5569  2024  5300108     3179585

[61270 rows x 3 columns]

In [3]:
df = pd.DataFrame()

for ano in range(dados['ano'].min(), dados['ano'].max() + 1):
    
    dft = dados[dados['ano'] == ano].set_index('codigo')
    dft = dft.drop(['ano'], axis=1).rename({'habitantes': "p%d" % ano}, axis=1)
    
    if df.empty:
        df = dft.copy()
    else:
        df = df.join(dft)

df

,p2014,p2015,p2016,p2017,p2018,p2019,p2020,p2021,p2022,p2023,p2024
codigo,,,,,,,,,,,
1100015,25652,25578,25506,25437,23167,22945,22728,22516,21718,21169,20619
1100379,13884,13940,13993,14045,13227,13241,13255,13268,13027,12898,12770
1100403,19841,20210,20569,20916,20999,21428,21847,22258,22495,22826,23156
1100346,17228,17063,16902,16747,14722,14411,14106,13807,13039,12465,11891
1100023,102860,104401,105896,107345,106168,107863,109523,111148,111633,112685,113737
...,...,...,...,...,...,...,...,...,...,...,...
5222005,13343,13456,13567,13675,13746,13863,13977,14088,14184,14289,14393
5222054,8053,8171,8286,8397,8611,8743,8873,9002,9145,9285,9425
5222203,5371,5495,5615,5731,6026,6171,6312,6451,6625,6787,6949
5222302,5520,5578,5635,5690,5758,5821,5882,5941,6000,6061,6122
5300108,2852372,2914830,2977216,3039444,2974703,3015268,3055149,3094325,3121378,3150481,3179585

In [4]:
csv = 'populacoes.csv'
df.to_csv(csv)

In [5]:
!head $csv && tail $csv

codigo,p2014,p2015,p2016,p2017,p2018,p2019,p2020,p2021,p2022,p2023,p2024
1100015,25652,25578,25506,25437,23167,22945,22728,22516,21718,21169,20619
1100379,13884,13940,13993,14045,13227,13241,13255,13268,13027,12898,12770
1100403,19841,20210,20569,20916,20999,21428,21847,22258,22495,22826,23156
1100346,17228,17063,16902,16747,14722,14411,14106,13807,13039,12465,11891
1100023,102860,104401,105896,107345,106168,107863,109523,111148,111633,112685,113737
1100452,37207,37838,38450,39044,38937,39654,40356,41043,41366,41878,42389
1100031,6424,6355,6289,6224,5438,5312,5188,5067,4766,4539,4312
1100601,6318,6367,6414,6460,6190,6230,6269,6307,6244,6228,6211
1100049,86556,87226,87877,88507,84813,85359,85893,86416,85568,85343,85118
5221601,39172,39483,39787,40082,40217,40532,40840,41150,41390,41663,41937
5221700,14187,14190,14193,14195,13868,13843,13818,13795,13690,13619,13548
5221809,3153,3153,3154,3154,3078,3072,3066,3056,3033,3016,2999
5221858,150005,153255,156419,159500,164723,168468,172135,175720,179444,183203,186963
5221908,3813,3827,3842,3856,3816,3827,3838,3848,3844,3847,3850
5222005,13343,13456,13567,13675,13746,13863,13977,14088,14184,14289,14393
5222054,8053,8171,8286,8397,8611,8743,8873,9002,9145,9285,9425
5222203,5371,5495,5615,5731,6026,6171,6312,6451,6625,6787,6949
5222302,5520,5578,5635,5690,5758,5821,5882,5941,6000,6061,6122
5300108,2852372,2914830,2977216,3039444,2974703,3015268,3055149,3094325,3121378,3150481,3179585